@import "/src/default_variables.scss";

.allMusic{
    display: flex;
    flex-direction: column;
    width: 100%;
    & header {
        height: 5%;
        // margin: 10px;
        padding: 25px;
        display: flex;
        gap: 20px;
        justify-content: end;
        background-color: $blackRgba;
        position: relative;
        & span {
            align-self: center;
            font-size: 1.2rem;
            font-weight: 600;
            user-select: none;
            width: 100%;
        }
        & button {
            padding: 10px;
            align-self: center;
            background-color: $linkColRgba;
            border: none;
            border-radius: 10px;
            transition: .2s linear;
            // width: 60%;
            &:hover{
                background-color: $linkHoverColRgba;
                transform: translateY(-1px);
            }
        }
        & input::placeholder{
            color: $defaultColor;
        }
    }
    & main {
        height: 100vh;
        overflow-x:scroll;
        overflow-x: hidden;
        scrollbar-width: none;
        box-sizing: border-box;
    }
}

.header__btn{
    display: flex;
    gap: 20px;
    align-self: center;
}

.main__music-container{
    height: 100%;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.music-container__element {
    cursor: pointer;
    width: 30%;
    height: 70%;
    max-height: 60%;
    text-align: center;
}
.allMusic__icon{
    // position: absolute;
    align-self: center;
    width: 2rem;
    font-size: 1.5rem;
    left: 5%;
    top: 25%;
}
.element__poster{
    position: relative;
}
.poster__play-icon{
    position: absolute;
    display: none;
    z-index: 100;
    left: 48%;
    top: 50%;
}
.poster__img{
    // width: 90%;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: .2s linear;
    &:hover {
        border: 2px solid $defaultColor; 
    }
}

.music-container__element{
    &:hover{
        .poster__play-icon {
            display: block;
        }
        .poster__img {
            border: 2px solid $defaultColor;
        }
    }
}

.header__search {
    display: flex;
    gap: 100px;
    width: 60%;
    & input {
        padding: 10px;
        border-radius: 10px;
        width: 50%;
        border: none;
        align-self: center;
        background-color: $linkHoverColRgba;


    }
}




