$backGroundLeftMenu: #272C36;
$backGroundMain: #2D313E;
$iconLogoColor: #FF0061;
$defaultColor: #F7F0F0;
// $linkHoverCol: #767B8A;
// $linkCol: #76696a;
$main_fontSize: 2rem;

$linkColRgba: rgba(255, 255, 255, .2);
$linkHoverColRgba: rgba(255, 255, 255, .5);
$backGroundLeftMenuRgba: rgba(39, 44, 54, .3);

$blackRgba: rgba(0, 0, 0, .3);